APP_NAME=MindSupport Auth API
API_V1_PREFIX=/api/v1
MONGO_URL=mongodb://localhost:27017
MONGO_DB_NAME=mindsupport
JWT_SECRET_KEY=replace-with-a-long-random-secret
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440
CORS_ORIGINS=http://localhost:3000
MISTRAL_API_KEY=replace-with-your-mistral-api-key
LLM_MODEL_NAME=mistral-small-latest
PRIMARY_CLASSIFIER_MODEL_PATH=models/production_mental_health_model.pkl
PRIMARY_LABEL_ENCODER_PATH=models/production_label_encoder.joblib
BINARY_CLASSIFIER_MODEL_PATH=models/binary_conversation_classifier.pkl
BINARY_LABEL_ENCODER_PATH=models/binary_encoder.joblib


MISTRAL_API_KEY=RBklIKTNnxiaLWhWrpDptfmz3jiVIfLl
LLM_MODEL_NAME=mistral-small-latest
